{{define "theme"}}
<script>
  // This script is inlined in the <head> to prevent FOUC
  (() => {
    const savedTheme = localStorage.getItem("theme");
    // If a theme is explicitly saved, respect it.
    if (savedTheme === "dark-mode") {
      document.documentElement.classList.add("dark-mode");
    } else if (savedTheme === "light-mode") {
      // Do nothing, light is the default
    } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      // If no theme is saved, fall back to OS preference.
      document.documentElement.classList.add("dark-mode");
    }
  })();
</script>
{{end}}
