<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Note.Title}} | {{.SiteTitle}}</title>
    {{template "styles" .}}
  </head>
  <body>
    <div class="gobsidian-container">
      <div class="gobsidian-wrapper">
        {{template "left_sidebar" .}}
        <main class="center">
          <div class="breadcrumbs">
            <a href="{{.BaseURL}}">Home</a>
            <span class="breadcrumb-separator"
              ><i class="fa-solid fa-chevron-right"></i
            ></span>
            {{range .Note.Breadcrumbs}}
            <a href="{{.URL}}">{{.Title}}</a>
            {{if not .IsLast}}
            <span class="breadcrumb-separator"
              ><i class="fa-solid fa-chevron-right"></i
            ></span>
            {{end}} {{end}}
          </div>

          <div class="post-meta">
            <h1 class="post-title">{{.Note.Title}}</h1>

            {{if .Note.Author}}
            <span class="author">By {{.Note.Author}}</span>
            {{end}}
            <span class="post-date"
              >{{.Note.Date.Format "January 2, 2006"}}</span
            >
            {{if .Note.UpdatedAt}}
            <span class="post-date updated"
              >Updated on {{.Note.UpdatedAt.Format "January 2, 2006"}}</span
            >
            {{end}}
          </div>

          <article class="prose">{{.Note.HTML}}</article>
        </main>

        {{template "right_sidebar" .}}
        <footer>
          <p>&copy; {{.CurrentYear}} {{.SiteTitle}}. All rights reserved.</p>
          <p><a href="{{.BaseURL}}">Back to Home</a></p>
        </footer>
      </div>
    </div>
  </body>
</html>
