.left-sidebar-item {
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: var(--surface-color);
  border-radius: 6px;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 8px var(--shadow-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  text-decoration: none;
  color: inherit;
  background-color: var(--background-color);
  border-left: 3px solid var(--primary-color);
  padding-left: calc(1.5rem - 3px);
}

.left-sidebar-item-title {
  display: block;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

@media (max-width: 768px) {
  .left-sidebar {
    position: static;
    top: auto;
    order: 2;
  }

  .file-tree-container .left-sidebar-item-content {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
  }

  .file-tree-container.expanded .left-sidebar-item-content {
    max-height: 1000px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  .file-tree-container .left-sidebar-item-title {
    cursor: pointer;
    position: relative;
  }

  .file-tree-container .left-sidebar-item-title::after {
    content: "▸";
    font-size: 1.5rem;
    position: absolute;
    right: 5px;
    transition: transform 0.3s ease;
  }

  .file-tree-container.expanded .left-sidebar-item-title::after {
    transform: rotate(90deg);
  }
}

/* Responsive Design */
@media (max-width: 1150px) {
  .left-sidebar {
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .left-sidebar {
    margin: 1rem 0rem;
  }
}