/* tag Navigation */
.tags-nav {
  text-align: left;
  margin: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  text-decoration: none;
  color: inherit;
}
.tags-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.5rem 0.5rem;
}
.tags-nav li a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  background-color: var(--chip-color);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.tags-nav li a:hover {
  background-color: var(--chip-color-hover);
}

/* tag Page Title */
.tag-title {
  font-size: 2rem;
}
.tag-title span {
  font-style: italic;
  color: var(--primary-color);
}

/* tags container in header */
.header-tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.header-tags-container .tag-link .tag {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--primary-color);
  background-color: var(--chip-color);
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

/* general tag link */
.tag-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.tag-link .tag {
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.tag-link:hover .tag {
  background-color: var(--chip-color-hover);
}
