{{define "left_sidebar"}}
<aside class="left-sidebar">
    <div class="left-sidebar-item">
        <h5 class="left-sidebar-item-title">Who am I?</h5>
        <div class="left-sidebar-item-content">
            <p>Somebody that you used to know :P</p>
            <p>
                Jokes aside, the content here is just placeholder for now. More
                like a lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>

    {{if .FileTree}} 
    <div class="left-sidebar-item file-tree-container" 
         x-data="fileTreeComponent()" 
         :class="{ 'expanded': expanded }">
        <h5 class="left-sidebar-item-title" @click="expanded = !expanded">Explorer</h5>
        <div class="left-sidebar-item-content">
          <nav class="file-tree">
            <template x-if="fileTreeData">
              <div x-html="renderTree(fileTreeData)"></div>
            </template>
          </nav>
        </div>
    </div>
    {{end}}
      
    {{if .Tags}}
      <div class="left-sidebar-item">
        <h5 class="left-sidebar-item-title">Tags</h5>
        <div class="left-sidebar-item-content">
          <nav class="tags-nav">
            <ul>
              {{range .Tags}}
              <li><a href="/tag/{{.Slug}}/">#{{.Name}}</a></li>
              {{end}}
            </ul>
          </nav>
        </div>
      </div>
    {{end}}

    <h5>Graph View</h5>
    {{if .Graph}}
    <div class="graph-container">
        <div id="graph-network">
        </div>
        <div class="zoom-graph-button"></div>
      </div>
      
      <!-- Modal Structure -->
      <div id="graph-modal" class="graph-modal-container">
        <div class="graph-modal-content">
          <div class="graph-modal-header">
            <h2>Graph View</h2>
            <button class="graph-modal-close" id="graph-modal-close">&times;</button>
          </div>
          <div class="graph-modal-body">
            <div id="graph-network-modal"></div>
          </div>
        </div>
      </div>
    {{end}}
</aside>
{{end}}
