<!-- TODO: Hook this up with a template -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nver Khachoyan&#39;s Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Nver Khachoyan&#39;s Blog</h1>
        <p class="subtitle">
          My Personal Blog - Built with Go and Obsidian Notes
        </p>
      </header>

      <main>
        <div>
          <p>Not found</p>
        </div>
      </main>

      <footer>
        <p>&copy; 2025 Nver Khachoyan&#39;s Blog. All rights reserved.</p>
      </footer>
    </div>
    <script src="/js/previews.js"></script>
  </body>
</html>
