<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}} | {{.SiteTitle}}</title>
    {{template "styles" .}}
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/" class="back-link">← Back to Home</a>
        {{template "theme_switcher" .}}
        <h1>{{.Title}}</h1>
        <div class="post-meta">
          {{if .Author}}
          <span class="author">By {{.Author}}</span>
          {{end}}
          <span class="post-date"
            >Published on {{.Date.Format "January 2, 2006"}}</span
          >
          {{if .UpdatedAt}}
          <span class="post-date updated"
            >Updated on {{.UpdatedAt.Format "January 2, 2006"}}</span
          >
          {{end}}
        </div>
        <div class="header-tags-container">
          {{range .Tags}}
          <a href="/tag/{{.Slug}}/" class="tag-link"
            ><span class="tag">#{{.Name}}</span></a
          >
          {{end}}
        </div>
      </header>

      <div class="content-wrapper">
        {{template "left_sidebar" .}}

        <main class="prose">
          {{.HTMLContent}} {{if .LinkedFrom}}
          <div class="backlinks">
            <h3>Linked From</h3>
            <ul>
              {{range .LinkedFrom}}
              <li><a href="{{.URL}}">{{.Title}}</a></li>
              {{end}}
            </ul>
          </div>
          {{end}}
        </main>
      </div>

      <footer>
        <p>&copy; {{.CurrentYear}} {{.SiteTitle}}. All rights reserved.</p>
        <p><a href="{{.BaseURL}}">Back to Home</a></p>
      </footer>
    </div>
    {{template "scripts" .}}
  </body>
</html>
