{{define "scripts"}}

<!-- DATA -->
<script>
  window.graphData = JSON.parse(`{{.Graph}}`);
  console.log(window.graphData);
  window.fileTreeData = JSON.parse(`{{.FileTreeJSON}}`);
  window.tagsData = JSON.parse(`{{.AllTags}}`);
</script>

<!-- INTERNAL SCRIPTS -->

<script src="/assets/libs/obsigraph.min.js"></script>
<script src="/assets/libs/mermaid.min.js"></script>

<script src="/src/js/live-reload.js" defer></script>
<script src="/src/js/explorer.js" defer></script>
<script src="/src/js/previews.js" defer></script>

<!-- EXTERNAL LIBS -->

<!-- Alpine Stores (must load before Alpine) -->
<script src="/src/js/store.js"></script>

<!-- Alpine -->
<script defer src="/assets/libs/alpine/alpine-collapse.min.js"></script>
<script defer src="/assets/libs/alpine/alpine.min.js"></script>

<!-- KaTeX JavaScript -->
<script src="/assets/libs/katex/katex.min.js"></script>
<script src="/assets/libs/katex/contrib/auto-render.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\[", right: "\\]", display: true },
        { left: "\\(", right: "\\)", display: false },
      ],
    });
  });
</script>
<script src="/assets/libs/katex/contrib/copy-tex.min.js"></script>
<script src="/assets/libs/katex/contrib/render-a11y-string.min.js"></script>

<!-- Mermaid -->
<script src="/src/js/mermaid.js"></script>

{{end}}
