{{define "left_sidebar"}}
<aside
  class="left-sidebar"
  :class="{ 'is-open': $store.sidebar.mobileOpen }"
  x-data="{}"
>
  <!-- Site Title and Theme Switcher -->
  <div class="left-sidebar__top">
    <a class="site-title" href="/"> {{.SiteTitle}} </a>
    <p class="site-description">{{.SiteSubtitle}}</p>
  </div>
  <div
    class="theme-switcher-container"
    x-data="{
    init() {
      // Initialize the global theme store
      $store.theme.init();
    }}"
    x-init="init()"
  >
    <button
      @click="$store.theme.toggle()"
      class="theme-switcher"
      title="Toggle theme"
    >
      <span x-show="$store.theme.current === 'light'"
        ><i class="fa-solid fa-sun"></i
      ></span>
      <span x-show="$store.theme.current === 'dark'"
        ><i class="fa-solid fa-moon"></i
      ></span>
    </button>
  </div>

  <div class="search-bar-container" x-data="{}" x-init="$store.search.init()">
    <input
      type="text"
      placeholder="Search..."
      class="search-input"
      @input.debounce.300ms="$store.search.search($event.target.value)"
      @focus="$store.search.open()"
      @click.away="$store.search.close()"
    />
    <div class="search-results-overlay" x-show="$store.search.isOpen">
      <ul class="search-results-list">
        <template x-if="$store.search.loading">
          <li class="search-loading">Loading...</li>
        </template>
        <template x-if="!$store.search.loading">
          <template x-for="result in $store.search.results" :key="result.id">
            <li class="search-result-item">
              <a :href="result.url">
                <div class="search-result-item__content">
                  <template x-if="result.img">
                    <img
                      :src="result.img"
                      alt=""
                      class="search-result-item__img"
                    />
                  </template>
                  <div class="search-result-item__text">
                    <h4 x-html="$store.search.highlight(result.title)"></h4>
                    <p x-html="$store.search.highlight(result.body)"></p>
                  </div>
                </div>
              </a>
            </li>
          </template>
        </template>
        <template
          x-if="!$store.search.loading && $store.search.results.length === 0 && $store.search.query"
        >
          <li class="search-no-results">No results found.</li>
        </template>
      </ul>
    </div>
  </div>

  <!-- Scrollable content -->
  <div class="left-sidebar__scrollable-content">
    <!-- File Explorer -->
    <div
      class="explorer-container"
      x-data="explorerComponent()"
      x-init="$store.fileTree.init()"
      x-show="$store.fileTree.data"
      :class="{ 'expanded': $store.fileTree.expanded }"
    >
      <nav class="explorer">
        <template x-if="fileTreeData">
          <div x-html="renderTree(fileTreeData)"></div>
        </template>
      </nav>
    </div>

    <!-- Tags -->
    <div
      x-data="{}"
      x-init="
        $store.collapsible.init('tags', true);
        $store.tags.init();
      "
      x-show="$store.tags.data.length > 0"
      class="collapsible-container tags-container"
    >
      <h5 @click="$store.collapsible.toggle('tags')">
        All Tags
        <i
          class="fa-solid"
          :class="$store.collapsible.isExpanded('tags') ? 'fa-chevron-down' : 'fa-chevron-right'"
        ></i>
      </h5>
      <div x-show="$store.collapsible.isExpanded('tags')" x-collapse>
        <nav class="tags-nav">
          <ul>
            <template x-for="tag in $store.tags.getVisible()" :key="tag.slug">
              <li>
                <a :href="'/tag/' + tag.slug + '/'" class="tag">
                  <span x-text="tag.name"></span>
                  <span x-text="`(${tag.count})`"></span>
                </a>
              </li>
            </template>
          </ul>
          <template x-if="$store.tags.hasMore()">
            <button @click="$store.tags.toggle()" class="show-more-button">
              <span
                x-text="$store.tags.showAll ? 'Show Less' : 'Show More'"
              ></span>
            </button>
          </template>
        </nav>
      </div>
    </div>
  </div>
</aside>
{{end}}
