{{define "right_sidebar"}}
<aside class="right-sidebar">
  <!-- Graph View -->
  <div
    x-data="{}"
    x-init="$store.graph.init(); $store.collapsible.init('graph', true) "
    x-show="$store.graph.data"
    class="collapsible-container"
  >
    <h5 @click="$store.collapsible.toggle('graph')">
      Graph View
      <i
        class="fa-solid"
        :class="$store.collapsible.isExpanded('graph') ? 'fa-chevron-down' : 'fa-chevron-right'"
      ></i>
    </h5>
    <div
      x-show="$store.collapsible.isExpanded('graph')"
      x-collapse
      class="graph-container"
    >
      <canvas id="graph-network-canvas"></canvas>
      <div class="zoom-graph-button" @click="$store.graph.openModal()"></div>
    </div>
    <!-- Modal Structure -->
    <div
      id="graph-modal"
      class="graph-modal-container"
      x-show="$store.graph.modalOpen"
      x-cloak
      x-transition
      @click.outside="$store.graph.closeModal()"
    >
      <div class="graph-modal-content">
        <div class="graph-modal-header">
          <h2>Graph View</h2>
          <button class="graph-modal-close" @click="$store.graph.closeModal()">
            &times;
          </button>
        </div>
        <div class="graph-modal-body">
          <canvas id="graph-network-modal-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</aside>
{{end}}
