{{define "scripts"}}
<script src="/js/live-reload.js"></script>
<script src="/js/theme-switcher.js"></script>
<script src="/js/sidebar.js"></script>
<script src="/js/previews.js"></script>
<script src="/js/folder-nav.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<!-- Pass Go template data to JavaScript -->
<script>
  window.graphData = JSON.parse(`{{.Graph}}`);
</script>

<!-- Import external graph functionality -->
<script src="/js/graph.js"></script>
{{end}}
