{{define "styles"}}
<link rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/link-previews.css" />
<link rel="stylesheet" href="/css/tags.css" />
<link rel="stylesheet" href="/css/left-sidebar.css" />
<link rel="stylesheet" href="/css/folder.css" />
<link rel="stylesheet" href="/css/markdown.css" />
<link rel="stylesheet" href="/css/pagination.css" />
<link rel="stylesheet" href="/css/posts.css" />
<link rel="stylesheet" href="/css/theme-switcher.css" />
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Inter:wght@400;500&display=swap"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
<script src="/js/theme-loader.js"></script>
{{end}}
